In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///chinook.db

In [ ]:
%%sql
SELECT * FROM invoices 
LIMIT 5

### GROUP BY

In [ ]:
%%sql
SELECT BillingCountry, COUNT(BillingCountry) AS Count FROM invoices
GROUP BY BillingCountry
ORDER BY COUNT(BillingCountry) DESC

### BETWEEN

In [ ]:
%%sql
SELECT BillingAddress, Total FROM invoices
WHERE
Total BETWEEN 10 AND 15
ORDER BY Total DESC
LIMIT 10

### JOIN

In [ ]:
%%sql
SELECT l.Title, r.Name FROM albums l
INNER JOIN artists r ON
r.ArtistId = l.ArtistId
LIMIT 5

In [ ]:
%%sql
SELECT e.FirstName || ' ' || e.LastName AS Employee,
c.FirstName AS CustomerFName, c.LastName AS CustomerLName
FROM employees e
INNER JOIN customers c ON
c.SupportRepId = e.EmployeeId
LIMIT 5

In [19]:
%%sql
SELECT t.Name AS TrackName, a.Title AS AlbumTitle
FROM albums a
LEFT JOIN tracks t ON
a.AlbumId = t.AlbumId
ORDER BY a.Title ASC
LIMIT 5

 * sqlite:///chinook.db
Done.

[('For Those About To Rock (We Salute You)', 'For Those About To Rock We Salute You'),
 ('Put The Finger On You', 'For Those About To Rock We Salute You'),
 ("Let's Get It Up", 'For Those About To Rock We Salute You'),
 ('Inject The Venom', 'For Those About To Rock We Salute You'),
 ('Snowballed', 'For Those About To Rock We Salute You')]