### SETUP

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///chinook.db

### GROUP BY

In [ ]:
%%sql
SELECT BillingCountry, COUNT(BillingCountry) AS Count FROM invoices
GROUP BY BillingCountry
ORDER BY COUNT(BillingCountry) DESC

### BETWEEN

In [ ]:
%%sql
SELECT BillingAddress, Total FROM invoices
WHERE
Total BETWEEN 10 AND 15
ORDER BY Total DESC
LIMIT 10

### JOIN

In [ ]:
%%sql
SELECT l.Title, r.Name FROM albums l
INNER JOIN artists r ON
r.ArtistId = l.ArtistId
LIMIT 5

In [ ]:
%%sql
SELECT e.FirstName || ' ' || e.LastName AS Employee,
c.FirstName AS CustomerFName, c.LastName AS CustomerLName
FROM employees e
INNER JOIN customers c ON
c.SupportRepId = e.EmployeeId
LIMIT 5

In [ ]:
%%sql
SELECT COUNT(*) AS NumOfTracks, a.Title AS AlbumTitle
FROM albums a
LEFT JOIN tracks t ON
a.AlbumId = t.AlbumId
GROUP BY a.Title
HAVING COUNT(*) > 25
ORDER BY COUNT(*) DESC
LIMIT 15

In [ ]:
%%sql
SELECT e.FirstName || ' ' || e.LastName AS Employee, c.FirstName || ' ' || c.LastName AS Customer, i.InvoiceDate, c.State FROM employees AS e
INNER JOIN 
customers AS c
ON e.EmployeeId = c.SupportRepId
INNER JOIN
invoices AS i
ON c.CustomerId = i.CustomerId
WHERE c.State = "SP"
LIMIT 20

### LIKE

In [ ]:
%%sql
SELECT name from tracks
WHERE name LIKE 'Black%'

In [ ]:
%%sql
SELECT Name from tracks
WHERE name LIKE '%Love'

In [ ]:
%%sql
SELECT name from tracks
WHERE name LIKE '%mor_%'

### UNION

In [ ]:
%%sql
SELECT name from tracks
WHERE name LIKE 'Black%'
UNION
SELECT name from tracks
WHERE name LIKE '%Love'

### RANK

In [ ]:
%%sql
SELECT Name, UnitPrice,
RANK () OVER (ORDER BY UnitPrice) PriceRank
FROM tracks

### FUNCTIONS

In [ ]:
%%sql
SELECT Name, GenreId, MIN(UnitPrice) FROM tracks
GROUP BY GenreId

In [ ]:
%%sql
SELECT SUM(t.milliseconds), a.Title
FROM tracks AS t
INNER JOIN
albums as a
ON t.AlbumId = a.AlbumId
GROUP BY a.Title
ORDER BY SUM(t.milliseconds) DESC